body {
    background-color: black;
    line-height: 1.4;
}
.main-head {
    color: black;
    background-color: blueviolet;
    border: solid 15px white;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

.secondary {
    color: black;
    background-color: blueviolet; 
    border: solid 15px white;
    border-style: ridge;
    font-weight: bold;
    font-size: 25px;
  
}

#look {
    color:white ;
    background-color: blueviolet;
    font-family: Cambria, Cochin;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline overline white;
}

#decor {
    color: greenyellow;
    font-size: 17px;

}

.style {
    list-style: none; 
    border-color: red;
    border-style: dashed solid ;
}